.servicos img{
    height: 150px;
    width: 150px;
    display: bloco embutido;
    border-radius: 50%;
       
}

.carousel img{
    height: 400px;
}

#divBusca{
    background-color:#ecf0f0;
    border:solid 1px;
    border-radius:15px;
    width:300px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
#btnBusca{
    height: 15px;
    width: 15px;
}
.footer{
    background-color: #767980;
    color: rgb(39, 38, 38);
}

.socialmedia i{
    font-size: 4rem;
    padding: 20px;
    display: flex;
  
 
}
.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }
  .fa-square-facebook {
    color: #3b5998;
  }
  .fa-youtube{
    color:  #FF0000;
  }
  .login{
    margin-top: 50px;
  }
.nav-link{
    background-color: #767980;
    color: rgb(39, 38, 38);
}
.navbar navbar-expand-lg navbar-light bg-light{
  background-color: #767980;
  color: rgb(39, 38, 38); 
}